<p>analyse-ist-situation-page works!</p>
<h2>Willkommen bei der Analyse {{analyseId}}</h2>
<h2>Willkommen bei der Analyse Snapshot{{analyseIdSnapshot}}</h2>

<div *ngIf="navigateWasCancelled">Popup navigate cancelled</div>
<form
  [formGroup]="myFormGroup"
  style="display: flex; flex-direction: column; gap: 2em;"
  (ngSubmit)="onSubmit()"
  >
  <fieldset formGroupName="incomeMandant">
    <h3>Income Mandant</h3>
    <label>
      <span>Brutto</span>
      <input id="brutto" type="text" formControlName="brutto" />
    </label>
    <label>
      <span>Netto</span>
      <input id="netto" type="text" formControlName="netto" />
    </label>
    <label>
      <span>Assets</span>
      <input id="assets" type="text" formControlName="assets" />
    </label>
    <label>
      <span>Employed since</span>
      <app-date-input formControlName="employedSince"></app-date-input>
    </label>
  </fieldset>

  <fieldset formGroupName="incomePartner">
    <h3>Income Partner</h3>
    <label>
      <span>Brutto</span>
      <input id="brutto" type="text" formControlName="brutto" />
    </label>
    <label>
      <span>Netto</span>
      <app-currency-input formControlName="netto"></app-currency-input>
    </label>
    <label>
      <span>Assets</span>
      <input id="assets" type="text" formControlName="assets" />
    </label>
  </fieldset>

  <fieldset formGroupName="ownerships">
    <h3>Ownerships</h3>
    <fieldset formArrayName="realEstates">
      <h4>Real estates</h4>
      <article *ngFor="let realEstate of realEstates.controls; let i=index" [formGroupName]="i">
        <label>
          <span>id</span>
          <input [id]="'realrealEstates.' + i + '.id'" type="text" formControlName="id" />
        </label>
        <label>
          <span>type</span>
          <input [id]="'realrealEstates.' + i + '.type'" type="text" formControlName="type" />
        </label>
        <label>
          <span>Remark</span>
          <input [id]="'realrealEstates.' + i + '.remark'" type="text" formControlName="remark" />
        </label>
        <button (click)="realEstates.removeAt(i)">remove</button>

        <hr>
      </article>
      <button (click)="addRealEstate({ type: 'Mieter'})">Add Real Estate</button>

    </fieldset>
    <fieldset formArrayName="animals">
      <h4>Animals</h4>
      <article *ngFor="let animal of animals.controls; let i=index" [formGroupName]="i">
        <label>
          <span>remark</span>
          <input [id]="'animals.' + i + '.id'" type="text" formControlName="remark" />
        </label>
        <label>
          <span>Animal type</span>
          <input [id]="'animals.' + i + '.animalType'" type="text" formControlName="animalType" />
        </label>
        <button (click)="animals.removeAt(i)">remove</button>
        <hr>
      </article>
      <button (click)="addAnimals({ animalType: 'Hund'})">Add animal</button>

    </fieldset>
  </fieldset>
  
  <input type="submit" value="Submit" [disabled]="!myFormGroup.valid" />
</form>

<div>
  <p *ngIf="analyseId !== '4711'"><a routerLink="/analyse/4711">4711</a></p>
  <p *ngIf="analyseId !== '4712'"><a routerLink="/analyse/4712">4712</a></p>
</div>